@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/* extra css needed for styles left out of _nav.scss */
.header {
  .branding .navbar-brand.site-title {
    background-image: url(http://localhost:8000/images/segovia-logo-white.png);
  }
  a {
    color: $robin;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
}